<!doctype html>
<html>
  <head>
    <title>建中社團管理平台</title>

    <!-- Open Graph -->
    <meta property="og:title" content="建中社團管理平台" />
    <meta property="og:image" content="https://club.cksc.tw/icons/CKHS-LOGO.png" />
    <meta property="og:description" content="A platform about school clubs for CKHS students" />
    <meta property="og:url" content="https://club.cksc.tw/" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="建中社團管理平台" />
    <meta
      property="twitter:description"
      content="A platform about school clubs for CKHS students"
    />
    <meta name="twitter:image" content="https://club.cksc.tw/icons/og-image.png" />

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link rel="icon" type="image/png" sizes="128x128" href="icons/CKHS-LOGO.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="icons/CKHS-LOGO.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/CKHS-LOGO.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/CKHS-LOGO.png" />
    <link rel="icon" type="image/ico" href="./public/CKHS-LOGO.ico" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
